:root {
  --primary-font: Montserrat, sans-serif;
  --main-dark-font-color: #111111;
  --main-light-font-color: #ffffff;
  --accent-color: rgba(253, 146, 34, 1);
  --main-dark-background-color: rgba(30, 24, 35, 1);
  --transition-main: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #fafafa;
  font-family: var(--primary-font);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /*--- Basic styles ---*/
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  /* Щоб бачити рамки контейнера на етапі розробки */
  outline: 2px solid red;
  outline-offset: -2px;
}
/*--- Tablet screen ---*/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/*--- Desktop screen ---*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/**
  |============================
  | Header
  |============================
*/
.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 24px;
  padding-bottom: 32px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}

.logo-span {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}

.nav-link {
  padding-top: 24px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
}

.header-nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

.header-nav-list {
  display: flex;
  align-items: center;
  margin-left: 188px;
}

.header-nav-item:not(:last-child) {
  margin-right: 24px;
}

.header-socials {
  display: flex;
  margin-left: auto;
  gap: 18px;
}

.header-socials-icon {
  stroke: #111111;
  fill: currentColor;
}

.header-socials-icon:hover,
.header-socials-icon:focus {
  stroke: #fd9222;
}

.header-socials-link {
  padding-top: 24px;
  padding-bottom: 32px;

  color: transparent;
}

/**
  |============================
  | Advantages
  |============================
*/
.advantages {
  background-color: #1e1823;
}

@media only screen and (min-width: 320px) and (max-width: 767.9px) {
  .advantages {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 767.9px) {
  .advantages-container {
    display: block;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1199.9px) {
  .advantages-container {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    gap: 32px;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  .advantages-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  .adv-desktop {
    padding: 0 50px;
  }
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-title {
  margin-bottom: 18px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}

.advantages-section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffffb3;
}

@media only screen and (min-width: 375px) {
  .advantages-section-text {
    display: block;
    width: 308px;
  }
}

.advantages-icon {
  fill: #fd9222;
}

.advantages-item-icon {
  width: 62px;
  height: 62px;
  padding: 15px 15px;
  margin-bottom: 22px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
}

@media only screen and (min-width: 320px) and (max-width: 767.9px) {
  .advantages-item:not(:first-child) {
    padding-top: 20px;
  }
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 374.9px) {
  .advantages-item {
    width: 100%;
  }
}

/* @media only screen and (min-width: 375px) {
  .advantages-item {
    width: 336px;
  }
} */

@media only screen and (min-width: 375px) and (max-width: 1199.9px) {
  .advantages-item {
    width: 336px;
  }
}

@media only screen and (min-width: 1200px) {
  .advantages-item {
    width: 308px;
  }
}

@media only screen and (min-width: 1200px) {
  .advantages-item {
    position: relative;
  }
}

@media only screen and (min-width: 1200px) {
  .advantages-line {
    position: absolute;
    top: 120px;
    right: -78px;
    width: 124px;
    height: 0;

    border: 0.5px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
    outline: none;
  }
}

/**
  |============================
  | Our products
  |============================
*/
.products {
  padding: 72px 0;
}

.products-title {
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-dark-font-color);
}

@media only screen and (min-width: 320px) and (max-width: 767.9px) {
  .products-title {
    margin-bottom: 32px;

    /* font-weight: 600; */
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-dark-font-color);
  }
}

.products-title-span {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media only screen and (min-width: 320px) and (max-width: 767.9px) {
  .products-title-span {
    /* font-weight: 600; */
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
  }
}

.products-card {
  padding: 32px 20px;

  width: 270px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.products-card:not(:last-child) {
  margin-right: 18px;
}

@media only screen and (min-width: 375px) and (max-width: 767.9px) {
  .products-card {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .products-card {
    width: 270px;
  }
}

.products-img {
  min-width: 100%;
}

.products-img {
  margin-bottom: 8px;
}

.descr-products-card {
  display: flex;
  flex-direction: column;
}

.products-subtitle,
.products-text {
  text-align: center;
}

.products-subtitle {
  margin-bottom: 2px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-dark-font-color);
}

.products-text {
  margin-bottom: 18px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #111111b3;
}

.products-btn {
  min-width: 94px;
  height: 33px;
  padding: 8px 20px;
  margin: 0 auto;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-dark-font-color);

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  cursor: pointer;
}

/* Slider */
.products-slider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slick-dots li button:before {
  content: '';
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.products-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .products-slider .slick-dots {
    margin-top: 32px;
  }
}

.products-slider .slick-dots li:not(last-child) {
  list-style: none;
  margin-right: 13px;
}

.products-slider .slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.1);
  border-radius: 50%;
  border: none;
}

.products-slider .slick-dots li.slick-active button {
  background-color: var(--accent-color);
  width: 28px;
  height: 13px;
  border-radius: 100px;
}

.products-slider .slick-dots li:nth-child(9),
.products-slider .slick-dots li:nth-child(10) {
  display: none;
}

/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
  position: absolute;
  top: 24px;
  right: 16px;

  min-width: 32px;
  min-height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-close-btn {
  border: 1px solid var(--secondary-text-color);
  opacity: 0.1;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 35px;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-white);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

/* @media only screen and (min-width: 320px) and (max-width: 427.9px) {
  .menu-container {
    width: 100%;
  }
} */

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.mobile-link {
  display: block;
  padding-bottom: 40px;
  position: relative;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:hover,
.mobile-link:focus {
  color: var(--active-txtbtn-color);
}

.mobile-link.active {
  color: var(--active-txtbtn-color);
}

.mobile-contacts {
  padding-bottom: 48px;
}

.mobile-contacts .item:not(:last-child) {
  margin-bottom: 40px;
}

.contacts-tel {
  display: block;
  width: 353px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-btn-color);
}

@media only screen and (max-width: 427.9px) {
  .contacts-tel {
    font-size: calc(36 * (100vw - 75px) / (428 - 75));
  }
}

.contacts-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media only screen and (min-width: 320px) and (max-width: 427.9px) {
  .contacts-tel {
    font-weight: 500;
  }
}

.mobile-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
}

@media only screen and (min-width: 320px) and (max-width: 427.9px) {
  .mobile-socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc((100% - 4 * 40px) / 3);
  }
}

/**
  |============================
  | 
  |============================
*/
